extends layout

block content
  h1= title
  form(method="post")
    label(for="name") Name:
    input(type="text", name="name", value=ingredient.name)
    label(for="type") Type:
    input(type="text", name="type", value=ingredient.type)
    label(for="cost") Cost:
    input(type="text", name="cost", value=ingredient.cost)
    label(for="quantity") Quantity:
    input(type="text", name="quantity", value=ingredient.quantity)
    label(for="critical") Critical:
    input(type="text", name="critical", value=ingredient.critical)
    label(for="supplier") Supplier:
    select(name="supplier")
      each supplier in suppliers
        option(value=supplier._id, selected=(supplier._id.toString() === ingredient.supplier._id.toString()))= supplier.name
    input(type="submit", value="Submit")