extends layout

block content
  h1 Recipe Detail
  p Name: #{recipe.name}
  p Preparation Time: #{recipe.prep_time}
  p Price: #{recipe.price}
  p Ingredients:
    ul
      each ingredient in recipe.ingr_list
        li= ingredient.name


  hr
  p
    a.btn.btn-primary(href=recipe.url+'/update') Update Recipe
    a.btn.btn-danger(href=recipe.url+'/delete') Delete Recipe