extends layout

block content
  h1 Restaurant Ware Detail
  p Name: #{restaurantware.name}
  p Type: #{restaurantware.type}
  p Cost: #{restaurantware.cost}
  p Stock: #{restaurantware.stock}
  p Critical: #{restaurantware.critical}
  p Supplier: #{restaurantware.supplier.name}