extends layout

block content
  h1 Supplier Detail
  p Name: #{supplier.name}
  p Address: #{supplier.address}
  p Telephone: #{supplier.tel}


  hr
  p
    a.btn.btn-primary(href=supplier.url+'/update') Update Supplier
    a.btn.btn-danger(href=supplier.url+'/delete') Delete Supplier